/* You CSS goes in here */
#leafcss{
    cursor: pointer;
}
#bladecss{
    cursor: pointer;
}
#petridishcss{
    cursor: pointer;
}
#glassslidecss{
    cursor: pointer;
}
#mircoscopecss{
    cursor: pointer;
}
